.dashboard{
    width: 90em;
    height: 40em;
    align-self: center;
    margin: 0 auto;
    background-color: #28293D;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    overflow-y: auto;
    //transition: 0.1s;
    //display: inline-block;
    z-index: 0;

    .dashUsers{ 
        width: 100%;
        border-spacing: 0 1em;
        padding: 1em;
        
        thead{
            font-size: 40px;
            
            // th{
            //     width: 10%;
            // }
            //display: block;
            width: 100%;
        }
        tbody{
            //display: block;
            font-size: 18px;
            .add{
                padding: 0.5em 1em;
                margin:0.5em auto;
                background-color: #5771AD;
                border:none;
                border-radius: 5px;
                color: #fff;
            }
            tr{
                background-color: #37476C;
                text-align: center;
                button{
                    padding: 0.5em 1em;
                    margin:0.5em auto;
                    background-color: #5771AD;
                    border:none;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        background-color: #fff;
                        color: #5771AD;
                        
                    }
                }
                // td{
                //     width: 10%;
                // }
            }
        }   
    }
    text-align: center;

    .graph{
        display: flex;
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width : 90em){
    .dashboard{
       // width: 30px;
       margin-left: 3em;
    }
}
