body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #5771AD; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::-webkit-scrollbar {
  width: 17px;       
       
}
*::-webkit-scrollbar-track {
  background: #888888;
  border: 8px solid transparent;
  background-clip: content-box;   
}
*::-webkit-scrollbar-thumb {
  background-color: #5771AD;   
  border-radius: 10px; 
  
  
}
