@import '@fontsource/electrolize';
$variable:500px;



.user{
    background-color: #2F343E;
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    
    color: #eee;
    font-family: "Electrolize";

    

    
}