@import '@fontsource/julius-sans-one';

header{
    //background-color: #252526;
    padding: 1em;
    //box-shadow: 0 0 0.1em 2px #343434;
    position: fixed;
    //width: 100%;
    z-index: 1;
    margin:3em;

    .logo{
        div{
            display: flex;
        }
        display: flex;
        svg{
            width: 3.5em;
        }
        h1{
            font-family: 'Julius Sans One';
            color:#fff;
            font-size: 24px;
            pointer-events: none;
            user-select: none; 
        }
        #XMLID_12_{
            stroke: #fff;
            stroke-width: 20;
            stroke-dasharray:0;
            stroke-linecap:round;
            animation: logo 10s 1s alternate infinite;
        }
    }
}

@keyframes logo {
    100%{
        //stroke-width:20;
       stroke: #5771AD;
       stroke-dasharray:300;

    }
}

@media screen and (max-width : 1700px){
    
    header{
        
       .logo{
            display: block;
       }
    }
    
}