@import '@fontsource/jura';

.navMenu{
    //width: 10em;
   //display: inline-block;
    margin-top:0.2em;
    opacity: 0;
    animation: blink 0.5s forwards;

    .item{
        display: flex;

        background-color: #fff;
        padding: 0.5em;
        margin:0.2em 0.5em 0.2em 0.5em;
        border-radius: 10px;
        transition: 0.4s;
        cursor: pointer;
        box-shadow: 0 0 0.1em 2px #343434;

        width: 2em;
        height: 2em;
        
        position: absolute;
        &:nth-child(1){
            z-index: 1;
        }
        &:nth-child(n+2){
            z-index: 0;
            opacity: 0;
        }
        img{
            width: 2em;
            height: 2em;
            pointer-events: none;
            border-radius: 100%;
            
            user-select: none;
            
        }
        p{
            color:#4E586E;
            font-size: 28px;
            font-family: 'Jura';
            margin: 0;
            opacity: 0;
            //display: none;
            pointer-events: none;
            user-select: none;

        }
        
    }
}

@keyframes blink {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}